#cursor {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 400px;
  background-color: #ea4330; /* Starting color, red-orange */
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: cursor-animation 4s linear infinite;
  z-index: 1;
}

@keyframes cursor-animation {
  0% {
    filter: hue-rotate(0deg) blur(50px);
  }
  100% {
    filter: hue-rotate(22deg) blur(50px); /* Restrict hue rotation to 0-30deg (red to orange range) */
  }
}
